* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: aquamarine;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

form input,
button {
  display: block;
  width: 180px;
  margin-bottom: 8px;
  padding: 8px;
}

.menInfo {
  padding: 16px;
  width: 180px;
  background-color: burlywood;
}
