* {/* PARA TODA PAG */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body > header {
  background-color: rgb(96, 106, 106);
  padding: 16px 0;
}
header li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 16px;
}
header li a {
  color: white;
  text-decoration: none;
}

.container { /* COM ESSA CONFIG ABRE DE UMA FORMA LEGAL EM QQ TELA. */
  width: 1200px;
  margin: 0 auto;
}

.artigos {
  display: flex; /* ORGANIZA LADO A LADO */
  flex-wrap: wrap; /* PARA LIMITAR O TAMANHO*/
  justify-content: space-between; /* ESPAÇAMENTOS IGUAIS */
}
.artigos article img {
  width: 100%;
}
.artigos article {
  width: 30%;
}
.artigos article h3 {
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 24px;
}
.artigos article a {
  background-color: blue;
  color: white;
  padding: 8px;
  display: inline-block; /* PARA Ñ SOBREPOR O TEXTO */
  text-decoration: none;
  font-weight: bold;
  margin-top: 8px;
}
.artigos article a:hover {
  text-decoration: underline;
}
.artigos article p,
.artigos article a {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 16px 0;
}
section h2,
.artigos article {
  margin-bottom: 16px;
}
section h2 {
  font-size: 32px;
}

#esportes {
  background-color: rgba(0, 255, 0, 0.2);
}
#esportes .artigos article a {
  background-color: green;
}

#economia {
  background-color: rgb(225, 225, 143);
}
#economia .artigos article a {
  background-color: rgb(81, 81, 6);
}

#entretenimento {
  background-color: aquamarine;
}
#entretenimento .artigos article a{
  background-color: rgb(7, 170, 115);
}

#tecnologia {
  background-color: rgb(185, 160, 208);
}
#tecnologia .artigos article a {
  background-color: rgb(160, 95, 150);
}

/* 
position: fixed; FICA SEMPRE VISIVEL
*/