* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(208, 237, 227);
}

.container h1 {
  padding: 50px;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container h2 {
  margin-bottom: 30px;
}

section {
  padding: 48px;
}

form {
  max-width: 360px;
}

.form_campo {
  margin-bottom: 16px;
}
.form_campo label {
  font-weight: bold;
  display: block;
}
.form_campo input, .form_campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
  background-color: white;
}

form button {
  max-width: 120px;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
}
form button:hover {
  background-color: rgb(144, 144, 159);
}